@announceway:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-w4bJUm5Y_vj1kdcGEz7s
//gitlab.com/api/v4/projects/54097140/packages/npm/:_authToken=glpat-w4bJUm5Y_vj1kdcGEz7s
//gitlab.com/api/v4/projects/54468046/packages/npm/:_authToken=glpat-w4bJUm5Y_vj1kdcGEz7s
