@import "tailwindcss";

@theme {
  @keyframes storyHoverTransition {
    0% {
      width: 0px;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes slideInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;

    }
  }

}

.animate-slideInUp {
  animation: slideInUp 650ms ease-in-out;
}


.story-hover-transition {
  animation: storyHoverTransition 5s linear;
  background-color: white;
}

.animation-pause {
  animation-play-state: paused;
}

.transition-finished {
  background-color: white;
}